@if (footer$ | async; as footer) {
  <footer id="landing-footer" class="clearfix" role="contentinfo">
    <div class="row clearfix" tabindex="-1" role="navigation">
      <p id="copyright" class="col-2">
        {{ footer.tagline }}
        <a routerLink="{{ footer.developerlink }}" [attr.aria-label]="'Ir para ' + footer.developerlink">{{ footer.developer }}</a>
      </p>
      <!--Social Icons in Footer-->
      <div class="col-2" style="text-align: right" tabindex="-1" role="navigation">
        <app-social></app-social>
      </div>
      <!--End of Social Icons in Footer-->
    </div>
  </footer>
}
