<div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s" tabindex="0" role="article">
	<!--Icon-->
	<div class="icon" tabindex="0" role="article">
		<i class="fa fa-{{ feature.icon }} fa-2x" [attr.aria-label]="feature.icon" aria-hidden="true"></i>
	</div>
	<!--Icon Block Description-->
	<div class="icon-block-description" tabindex="0" role="article">
		<h1 [attr.aria-label]="feature.title">{{ feature.title }}</h1>
		<p [attr.aria-label]="feature.description">{{ feature.description }}</p>
	</div>
</div>
