<section id="pricing" class="secondary-color text-center scrollto clearfix">
  <div class="row clearfix" tabindex="-1">
    @if (pricing$ | async; as pricing) {
      <div class="section-heading" tabindex="-1">
        <h1 class="pull-down">{{ pricing.tagline }}</h1>
        <h2 class="section-title">{{ pricing.title }}</h2>
      </div>
    }

    @for (plan of plans$ | async; track plan; let i = $index) {
      <div tabindex="-1">
        <app-pricing-block [plan]="plan"></app-pricing-block>
      </div>
    }
  </div>
</section>
