@if (intro$ | async; as intro) {
	<section id="about" class="introduction scrollto pull-right">
		<div class="row clearfix" tabindex="-1">
			<div class="col-3" tabindex="-1">
				<div class="section-heading" tabindex="-1">
					<h1>{{ intro.tagline }}</h1>
					<h1 class="section-title">{{ intro.title }}</h1>
					<p class="section-subtitle">{{ intro.description }}</p>
				</div>
			</div>
			@if (features$) {
				<div class="col-2-3" tabindex="-1">
					@for (feature of features$ | async; track feature; let i = $index) {
						<div tabindex="-1">
							<app-feature-block [feature]="feature"></app-feature-block>
						</div>
					}
				</div>
			}
		</div>
	</section>
}
