<!--Pricing Block-->
<div class="pricing-block col-3 wow fadeInUp"
	data-wow-delay="0.4s"
	[class.featured]="plan.featured" tabindex="0" [attr.aria-label]="'Plano de preços ' + plan.title" role="article">
	<div class="pricing-block-content" tabindex="0" [attr.aria-label]="'Plano de preços ' + plan.title" role="article">
		<h1>{{ plan.title }}</h1>
		<p class="pricing-sub">{{ plan.subtitle }}</p>
		<div class="pricing" tabindex="0" [attr.aria-label]="'Plano de preços ' + plan.title" role="article">
			<div class="price" tabindex="0" [attr.aria-label]="'Plano de preços ' + plan.title" role="article">
				<span>{{ plan.currency }}</span
				>{{ plan.price }}
			</div>
			<p>{{ plan.description }}</p>
		</div>
		<ul role="navigation" [attr.aria-label]="'Recursos do plano ' + plan.title">
			<li [attr.aria-label]="'Downloads ' + plan.downloads">{{ plan.downloads }}</li>
			<li [attr.aria-label]="'Downloads ' + plan.downloads">{{ plan.extensions }}</li>
			<li [attr.aria-label]="'Downloads ' + plan.downloads">{{ plan.tutorials }}</li>
			<li [attr.aria-label]="'Downloads ' + plan.downloads">{{ plan.support }}</li>
			<li [attr.aria-label]="'Downloads ' + plan.downloads">{{ plan.updates }}</li>
		</ul>
		<a href="{{ plan.buttonlink }}" class="button" [attr.aria-label]="'Ir para ' + plan.buttonlink">{{ plan.buttontext }}</a>
	</div>
</div>
<!--End Pricing Block-->
