<div id="header" class="nav-collapse nav-solid" tabindex="-1" role="banner">
  <div class="row clearfix" tabindex="-1" role="banner">
    <div class="col-1" tabindex="-1" role="banner">
      <!--Logo-->
      <div id="logo" tabindex="-1" role="banner">
        <!--Logo that is shown on the banner-->
        <img src="assets/images/logo.png" id="banner-logo" alt="Logo principal da Landing Page" />
        <!--End of Banner Logo-->

        <!--The Logo that is shown on the sticky Navigation Bar-->
        <img
          src="assets/images/logo-2.png"
          id="navigation-logo"
          alt="Logo da barra de navegação" />
          <!--End of Navigation Logo-->
        </div>
        <!--End of Logo-->

        <!-- <aside>
        <app-social></app-social>
      </aside> -->

      <!--Main Navigation-->
      <nav id="nav-main" aria-label="Menu principal">
        <app-navmenu [menu]="menu" [menuOpen]="true"></app-navmenu>
      </nav>
      <!--End of Main Navigation-->

      <div id="nav-trigger" tabindex="-1" role="banner">
        <span [class.open]="menuOpen === true"
          (click)="toggleMenu(!menuOpen)"
          (keyup)="toggleMenu(!menuOpen)" aria-label="Abrir menu" role="button" tabindex="0"></span>
      </div>
      <nav id="nav-mobile" aria-label="Menu principal">
        @if (menuOpen === true) {
          <app-navmenu
            [menu]="menu"
            (menuStatus)="toggleMenu($event)"
            [menuOpen]="menuOpen"></app-navmenu>
        }
      </nav>
    </div>
  </div>
</div>
<!--End of Header-->