<section id="clients" class="scrollto clearfix" aria-label="Seção de clientes">
  <div class="row clearfix pull-right" tabindex="-1" role="list">
    @if (clients$ | async; as clients) {
      <div class="col-3" tabindex="-1" role="list">
        <div class="section-heading" tabindex="-1" role="list">
          <h1 [attr.aria-label]="clients.tagline">{{ clients.tagline }}</h1>
          <h1 class="section-title" [attr.aria-label]="clients.title">{{ clients.title }}</h1>
          <p class="section-subtitle" [attr.aria-label]="clients.description">{{ clients.description }}</p>
        </div>
      </div>
    }

    <div class="col-2-3" tabindex="-1" role="list">
      @for (company of companies$ | async; track company; let i = $index) {
        <div tabindex="-1" role="list">
          <app-companies-block [company]="company"></app-companies-block>
        </div>
      }
    </div>
  </div>
</section>
