<section id="clients" class="scrollto clearfix">
  <div class="row clearfix pull-right" tabindex="-1">
    @if (clients$ | async; as clients) {
      <div class="col-3" tabindex="-1">
        <div class="section-heading" tabindex="-1">
          <h1>{{ clients.tagline }}</h1>
          <h1 class="section-title">{{ clients.title }}</h1>
          <p class="section-subtitle">{{ clients.description }}</p>
        </div>
      </div>
    }

    <div class="col-2-3" tabindex="-1">
      @for (company of companies$ | async; track company; let i = $index) {
        <div tabindex="-1">
          <app-companies-block [company]="company"></app-companies-block>
        </div>
      }
    </div>
  </div>
</section>
