<aside id="testimonials"
	class="scrollto text-center pull-right pull-left"
	data-enllax-ratio=".2" aria-label="Testemunhos">
	<div class="row clearfix" tabindex="-1" aria-label="Testemunho de usuário" role="complementary">
		@if (testimonials$ | async; as testimonial) {
			<div class="section-heading" tabindex="-1" aria-label="Testemunho de usuário" role="complementary">
				<h1 class="pull-down" [attr.aria-label]="testimonial.tagline">{{ testimonial.tagline }}</h1>
				<h2 class="section-title" [attr.aria-label]="testimonial.title">{{ testimonial.title }}</h2>
			</div>
		}

		<!--User Testimonial-->
		@for (feedback of feedback$ | async; track feedback; let i = $index) {
			<div tabindex="-1" aria-label="Testemunho de usuário" role="complementary">
				<app-feedback-block [feedback]="feedback"></app-feedback-block>
			</div>
		}
		<!-- End of Testimonial-->
	</div>
</aside>
