<aside
	id="testimonials"
	class="scrollto text-center pull-right pull-left"
	data-enllax-ratio=".2">
	<div class="row clearfix" tabindex="-1" aria-label="Testemunho do usuário">
		@if (testimonials$ | async; as testimonial) {
			<div class="section-heading" tabindex="-1" aria-label="Testemunho do usuário">
				<h1 class="pull-down">{{ testimonial.tagline }}</h1>
				<h3 class="section-title">{{ testimonial.title }}</h3>
			</div>
		}

		<!--User Testimonial-->
		@for (feedback of feedback$ | async; track feedback; let i = $index) {
			<div tabindex="-1" aria-label="Testemunho do usuário">
				<app-feedback-block [feedback]="feedback"></app-feedback-block>
			</div>
		}
		<!-- End of Testimonial-->
	</div>
</aside>
